/* The basic css property */

body {
    color: black;
    background: white;
}

@media (prefers-color-scheme: dark) {    
    body {
        color: white;
        background: black;
    }
}


/* The new property 'light-dark' - Only FireFox Available

body {
    color: light-dark(black, white);
    background: light-dark(white, black);
}


/* Other styles */

/* body {
    background: #dca;
    color: #731;
}

@media (prefers-color-scheme: dark) {
    .theme-a.adaptive {
        background: rgb(67, 36, 6);
        color: rgb(29, 17, 6);
        outline: 5px dashed #000;
    }
} */